.header__button {
  width: 241.09px;
  height: 41.7px;
  background: #1C8493;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: var(--white-color);
  padding: 10px 23.09px 12.7px 21px;
}

.header__button:hover {
  background: #41a5b5;
}

.header__button:active {
  background: #126872;
}

.btn-label {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
}

@media (max-width: 550px) {
  .btn-label {
    font-size: 18px;
    line-height: 15px;
  }
}


.btn-label-primary {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  font-family: 'Vollkorn SC';
  color: var(--white-color);
  padding: 11px;
}




.button-primary {
  background: #1C8493;
  box-shadow: 15px 11px 8px rgba(0, 0, 0, 0.5);
  border-radius: 0px 28px 0px 31px;
  width: 294px;
  height: 85px;
  transition: background-color 0.2s ease-in-out;
}

.button-primary:hover {
  background: #41a5b5;
}

.button-primary:active {
  background: #106472;
  box-shadow: 10px 7px 5px rgba(0, 0, 0, 0.5);
}

.btn--how {
  background: var(--white-color);
  width: 370px;
  padding: 23px 6px;
  margin-bottom: 46px;
}

@media (max-width: 760px) {
  .btn--how {
    width: auto;
  }
}


.btn--how:hover {
  background: #dddcdc;
}

.btn--how:active {
  background: #e0e0e0;
}

.label--how {
  color: #1C8493;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  font-family: 'Roboto';
  padding: 0;
}

.btn-services {
  color: var(--white-color);
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.14px;
  position: relative;
  z-index: 1;
  transition: color 0.3s ease-in-out 0s;
}

@media (max-width: 980px) {
  .btn-services {
    font-size: 19px;
    line-height: 7px;
}
  }

.btn:hover {
  color: var(--white-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.btn:first-child:active {
  color: var(--white-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
  border: none;
}

.btn-label-questions {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  font-family: 'Vollkorn SC';
  color: var(--white-color);
  padding: 11px;
}

.btn-services:hover {
color: rgb(28, 132, 147);
}

.btn-services:active {
  color: rgb(28, 132, 147);
  text-shadow: 0 0 5px rgba(28, 132, 147, 0.7), 0 0 10px rgba(28, 132, 147, 0.7);
}

.btn--margin {
  margin-bottom: 115px;
}

.tab-btn-one {
  font-weight: 700;
  background: #1C8493;
  border-radius: 20px;
  font-size: 40px;
  line-height: 17px;
  padding: 20px;
  color: rgba(255, 255, 255, 0.47);
}


.tab-btn-one.active {
  background: #1C8493;
  color: #fff;
}

.tab-btn-two {
  background: none;
  border: none;
  font-size: 40px;
  line-height: 17px;
  color: #000;
}

.tab-btn-two:hover {
  text-decoration: underline;
}

@media (max-width: 450px) {
  .btn-label-primary {
    font-size: 23px;
    line-height: 20px
  }

  .btn-hero {
    font-size: 18px;
    line-height: 20px;
  }

  .button-primary {
    width: 200px;
    height: 66px;
    margin-bottom: 20px;
  }

  .btn-port {
    font-size: 19px;
    line-height: 20px
  }
}

.icon::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-image: url(../img/phone.svg);
  background-size: cover;
  align-items: center;
  display: flex;
}

@media (max-width: 450px) {
  .btn-label {
    display: none;
  }
}

