.yandex-map {
  width: 100%;
  height: 400px;
}


@media (min-width: 577px) {
  .yandex-map {
    height: 100px;
  }
}

@media (min-width: 769px) {
  .yandex-map {
    height: 350px;
  }
}

@media (min-width: 993px) {
  .yandex-map {
    height: 400px;
  }
}

@media (min-width: 1920px) {
  .yandex-map {
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
