.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-form {
  display: flex;
    flex-direction: column;
    padding: 20px;
}

.modal-content {
  background-color: #32818c;
  margin: 15% auto;
  padding: 0px 3px 14px 15px;
  color: white;
  border: 1px solid #888;
  width: 25%;
  height: 30%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media (max-width: 760px){
  .modal-content {
    width: 55%;
    margin: 68% auto;
    height: 45%;
  }
  .modal-form label {
    font-size: 18px;
}
  }

.modal-input {
  margin-bottom: 15px;
  border-radius: 15px;
}



.btn-modal {
  max-width: 150px;
}

.close {
  text-align: end;
  FONT-SIZE: 28px;

}

.modal-title {
  font-size: 26px;
  font-weight: 500;
}

.modal-content input {
  display: block;
  border-radius: 15px;
  height: 35px;
}

.modal-content:last-child input {
 margin-bottom: 20px;
}

.modal-form label {
  font-size: 24px;
  margin-bottom: 10px;
}



@media (max-width: 450px){
  .modal-content {
    width: 55%;
    margin: 68% auto;
    height: 45%;
  }
  .modal-form label {
    font-size: 18px;
}
.modal-title {
  font-size: 18px;
}

.modal-content {
  padding: 0;
  height: 34%;
}

.modal-form {
  padding: 7px;
}

  }
