.padding-left {
  padding-left: 60px;
}

.image-container {
  padding: 45px 31px;
}
.image-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.block-price {
  margin-bottom: 60px;
}

@media (max-width: 750px) {
  .page {
    padding-top: 120px;
  }
}

.block-price {
  justify-content: end;
}

@media (max-width: 450px) {
  .padding-left {
    padding-left: 10px;
  }

  .padding-top {
    padding-top: 0px;
  }

  .image-container {
    padding: 7px 9px;
}

.block-price {
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn-label-primary {
  font-size: 18px;
  line-height: 20px;
  }
}

.porfilio {
  padding-top: 150px;
}
