.brands-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands-list .col-lg-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  max-width: 865px;
  margin: auto;
  text-align: center;
  margin-bottom: 80px;
}

.brands-list:last-child {
  margin-bottom: 88px;
}

@media (max-width: 750px) {
  .brands-title {
    margin-bottom: 21px;
    font-size: 19px;
  }

  .brands-list:last-child {
    margin-bottom: 0px;
    align-items: end;
  }

  .brands-list .col-lg-3 {
    width: 46%;
    margin-bottom: 48px;
  }

  .brands-block {
    display: flex;
  }
 }
